header{
    padding-bottom: 5%;
}

.projeto_1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align:justify;
}

.projeto_1_titulo{
    font-size: 35px;
    margin-bottom: 2%;
}

.projeto_1_titulo_paragrafo{
    font-size: 25px;
    margin-bottom: 1%;
}

.projeto_1_titulo_paragrafo_texto{
    font-size: 20px;
}

.projeto_1_titulo_paragrafo_texto_final{
    font-size: 18px;
    margin-top: 1%;
    font-weight: 700;

}

.final{
    margin-bottom: 5%;
}